<!doctype html>
<html>
  <head>
    <title>Luis Felipe Venezian</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/default.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <script src="{{url_for('static', filename='js/highlight.min.js')}}"></script>
    <script>hljs.highlightAll();</script>
  </head>
  <body>
    <p>>>></p>
    <div class="menu">
      [<a href="/">Index</a>]
      [<a href="/curriculum">Curriculum</a>]
      [<a href="/article/list">Posts</a>]
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>